*
{
       padding: 0;
       margin: 0;

}      
      
      .m{
              background-image: url("background.jpg");
              position: relative;
              display: flex;
              flex-direction: column;
       }

       h1,h2,h3,h4,h5,h6,p,a,label
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color:brown;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0 50px;

  }
  /* Style the navigation bar links */
.navbar .list a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  /* Change color on hover */
.navbar .list a:hover {
    background-color: rgb(119, 5, 5);
    color: white;
  }
  /* Active/current link */
.navbar .list  a.active {
    background-color: rgb(119, 5, 5);
    color: white;
}
.navbar .logo
{
  float: left;
}
       .overlay{
              position: absolute;
              background-size: cover;
              background-repeat: no-repeat;
              /* background-color: rgba(255, 255, 255, 0.5); */
              /* width: 100%; */
              /* height: 100%; */
       }

       .s{
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              overflow: auto;
              border-radius: 5%;
              width: 40%;
              color: white;
              background-color: rgba(15, 4, 66, 0.7);
              margin: auto;
              font-size: 20px;
       }

       .s .f{
              margin-left: 20px;
              margin-top: 20px;
              margin-bottom: 10px;
       }

       .s .f .b{
              background-color: #990000;
              border-radius: 5px;
              color: black;
              width: 95%;
              height: 50px;
              font-size: 17px;
       }

       .l-i{
              height: 20px;
              width: 90%;
       }

       .h2{
              font-size: 30px; 
              /* background-color: white; */
              /* width: auto; */
              color: #fff;
              padding: 5px;
              border-radius: 5px;
              display: inline;
       }

       .p{
              font-size: 25px; 
              color: black;
              background-color: white;
              /* width: auto; */
              padding: 5px;
              border-radius: 5px;
              display: inline;
       }

       .d{
              text-align: center; 
              margin-top: 30px; 
              color: white;
       }
       .usernameAlert , .emailAlert , .passAlert
       {
           display: none;
           
           
       }

       .container a
       {
              color: #fff;
       }


       input
       {
              padding: 5px;
              border-radius: 5px;
              border: none;
              margin-top: 5px;
       }